
//Font-Family
$font-family: 'Roboto Serif', sans-serif;

// Colors
$black: #000000;
$white: #FFFFFF;
$primary: #3f4bb4;
$secondary: #833db3;
$tertiary: #ebb002;
$grey: #cdcfcf;

//Font-size
$thin: 300;
$regular: 400;
$bold: 700;